---
import XIcon from "../../assets/close.svg";
import SearchIcon from "../../assets/search.svg";
---

<div class="flex-1 flex items-center justify-center">
  <form class="relative max-w-[720px] w-full">
    <input
      placeholder="Search"
      class="md:text-base text-base-content placeholder:text-neutral placeholder:dark:text-neutral-content px-14 w-full border-none
            focus-visible:shadow-[0_1px_1px_0_rgba(65,69,73,.3),0_1px_3px_1px_rgba(65,69,73,.15)] bg-base-200
            rounded-full h-[48px] focus-visible:ring-0 focus-visible:bg-base-100"
    />
    <button
      type="submit"
      class="absolute left-3 top-1/2 -translate-y-1/2 [&_svg]:size-5 rounded-full"
    >
      <SearchIcon class="h-[1em] opacity-50 text-neutral dark:text-neutral-content" />
    </button>

    <button
      type="button"
      class="hidden absolute right-3 top-1/2 -translate-y-1/2 [&_svg]:size-5 rounded-full"
    >
      <XIcon class="opacity-50 text-neutral dark:text-neutral-content" />
    </button>
  </form>
</div>
