---
import type { template } from "@/db/schema";

type Template = typeof template.$inferSelect;

interface Props {
    templates: Template[];
}

const { templates } = Astro.props;
---

<div class="bg-base-200">
    <div class="max-w-screen-xl mx-auto px-16 py-6 flex flex-col gap-y-4">
        <h3 class="font-medium">Start a new document</h3>
        <div
            class="basis-1/2 sm:basis-1/3 md:basis-1/4 lg:basis-1/5 xl:basis-1/6 2xl:basis-[14.285714%] pl-4"
        >
            <div class="flex space-x-2">
                {
                    templates.map((template) => (
                        <div class="aspect-[3/4] flex flex-col gap-y-2.5 w-[10rem]">
                            <button
                                data-template-id={template.id}
                                style={{
                                    backgroundImage: `url(data:image/png;base64,${template.image})`,
                                    backgroundSize: "cover",
                                    backgroundPosition: "center",
                                    backgroundRepeat: "no-repeat",
                                }}
                                class="size-full hover:border-blue-500 rounded-sm border hover:bg-blue-50 transition flex flex-col items-center justify-center gap-y-4 bg-white"
                            />
                            <p class="text-sm font-medium truncate">
                                {template.name}
                            </p>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</div>
<script>
    import { navigate } from "astro:transitions/client";

    const templates = document.querySelectorAll("[data-template-id]");
    templates.forEach((template) => {
        template.addEventListener("click", (event) => {
            const href = `/document/new-document?template=${(event.target as HTMLButtonElement).dataset.templateId}`;
            navigate(href);
        });
    });
</script>
