<dialog id="remove_document_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Are you sure?</h3>
        <p class="py-4">
            This action cannot be undone. This will permamently delete your
            document.
        </p>
        <button class="btn" type="button" onclick="remove_document_modal.close()">Cancel</button>
        <button class="btn btn-error" type="button">Delete</button>
    </div>
</dialog>
<script>
    import Toastify from "toastify-js";

    const removeDocument = () => {
        Toastify({
            text: "This is a toast",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right",
            style: {
                background: "linear-gradient(to right, #ff5f6d, #ffc371)",
            },
        }).showToast();
        document.getElementById("remove_document_modal").close();
    };
    document
        .querySelector(".btn-error")
        ?.addEventListener("click", removeDocument);
</script>
